<div id="posts">
  <div class="post">
    <h2><%= @post.title %></h2>
    <h2><%= @post.url %></h2>
  </div>
</div>

<div id="links">
  <%= link_to "Back", root_path , class: "btn btn-sm btn-default" %>
  <%= link_to "Edit", edit_post_path(@post),  class: "btn btn-sm btn-default" %>

  <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} ,  class: "btn btn-sm btn-default" %>
</div>